[submodule "containers"]
	path = containers
	url = git@github.com:vasic-digital/Containers.git
[submodule "challenges"]
	path = challenges
	url = git@github.com:vasic-digital/Challenges.git
[submodule "helix_qa"]
	path = helix_qa
	url = git@github.com:HelixDevelopment/HelixQA.git
[submodule "doc_processor"]
	path = doc_processor
	url = git@github.com:HelixDevelopment/DocProcessor.git
[submodule "llm_orchestrator"]
	path = llm_orchestrator
	url = git@github.com:HelixDevelopment/LLMOrchestrator.git
[submodule "llm_provider"]
	path = llm_provider
	url = git@github.com:HelixDevelopment/LLMProvider.git
[submodule "vision_engine"]
	path = vision_engine
	url = git@github.com:HelixDevelopment/VisionEngine.git
[submodule "llms_verifier"]
	path = llms_verifier
	url = git@github.com:vasic-digital/LLMsVerifier.git
[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
	branch = main
[submodule "docs_chain"]
	path = docs_chain
	url = git@github.com:vasic-digital/docs_chain.git
[submodule "security"]
	path = security
	url = git@github.com:vasic-digital/security.git
[submodule "helix_agent"]
	path = helix_agent
	url = git@github.com:HelixDevelopment/HelixAgent.git
	branch = main
